*primerry_color{
    rgba(255, 89, 89, 1)
    margin: 0;
    padding: 0;
}
.total_nav{
    width: auto;
    height: 700px;
    background: url(images/banner/banner2.png);
}

.total_nav{
    text-align: right;
    font-family: 'Work Sans';
}
.hero{
    padding-top: 100px;
    padding-right: 150px;
}
.nav_heading{
    font-style: normal;
    font-weight: 350;
    font-size: 45px;
    line-height: 75px;
    text-align: right;
    color: #151414;
}

.nav_description{
    margin-top: -25px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}

.nav_button button{
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    text-align: center;
    margin-left: 1025px;
    margin-top: 25px;
    border: none;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.image_withbg{
    height: 500px;
}
.failures{
    display: flex;
    margin: 55px 55px 80px;
    height: 450px;

}

.failures_maine{
    padding-left: 35px;
    margin-top: 80px;
    text-align: left;
}
.failures_heading{
    font-weight: 500;
    font-size: 30px;
    color: #151414;
}
.failures_description{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #444343;
}
.failures_checklist{
    list-style: none;
    line-height: 30px;
    width: 306px;
    height: 26px;
    font-size: 20px;
}
.failures_checklist ul{
    list-style: none;
    
}
.fa-regular{
    color: #089e03;
    size: 15px;
}
.plan_heading{
    margin-top: 350px;
    text-align: center;
    font-size: x-large;
}

.my_plan{
    display: flex;
    width: 1000px;
    height: auto;
    gap: 55px;
    margin-top: 50px;
    margin-left: 275px;
}

.icon_heading{
    text-align: center;
    color: #151414;
}
.icon_description{
    text-align: center;
    color: #737272;
}

.development{
    text-align: center;
}
.script{
    text-align: center;
}
.habit{
    text-align: center;
}
.watch{
    margin-top: 100px;
    width: 500px;
    height: auto;
    margin-left: 150px;
    /* background:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%); */
    background-image: url("images/watch.png")
    
}

